
// Code syntax so line numbers are not selectable
//––––––––––––––––––––––––––––––––––––––––––––––––––
// @mixin unselectable() {
//     -webkit-touch-callout: none;
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }

// @mixin opacity($opacity) {
//     opacity: $opacity;
//     $opacity-ie: $opacity * 100;
//     filter: alpha(opacity=$opacity-ie); //IE8
// }

// Color schemes for code blocks
// BASE16 THEMES: https://chriskempson.github.io/base16/
//––––––––––––––––––––––––––––––––––––––––––––––––––

// // material
// $base00: #263238;
// $base01: #2E3C43;
// $base02: #314549;
// $base03: #546E7A;
// $base04: #B2CCD6;
// $base05: #EEFFFF;
// $base06: #EEFFFF;
// $base07: #FFFFFF;
// $base08: #F07178;
// $base09: #F78C6C;
// $base0A: #FFCB6B;
// $base0B: #C3E88D;
// $base0C: #89DDFF;
// $base0D: #82AAFF;
// $base0E: #C792EA;
// $base0F: #FF5370;

// // solarized light
// $base00: #fdf6e3;
// $base01: #eee8d5;
// $base02: #93a1a1;
// $base03: #839496;
// $base04: #657b83;
// $base05: #586e75;
// $base06: #073642;
// $base07: #002b36;
// $base08: #dc322f;
// $base09: #cb4b16;
// $base0A: #b58900;
// $base0B: #859900;
// $base0C: #2aa198;
// $base0D: #268bd2;
// $base0E: #6c71c4;
// $base0F: #d33682;

// ocean dark
$base00: #2b303b; // black
$base01: #343d46; // darkest gray
$base02: #4f5b66; // darker gray
$base03: #65737e; // dark gray
$base04: #a7adba; // medium gray
$base05: #c0c5ce; // light gray
$base06: #dfe1e8; // lighter gray
$base07: #eff1f5; // white
$base08: #bf616a; // red
$base09: #d08770; // orange
$base0A: #ebcb8b; // yellow
$base0B: #a3be8c; // green
$base0C: #96b5b4; // blue
$base0D: #8fa1b3; // indigo
$base0E: #b48ead; // violet
$base0F: #ab7967; // brown

// Padding for code blocks
//––––––––––––––––––––––––––––––––––––––––––––––––––
$column_margin: 20px; // gutter between columns calculated in grid
$codeBlockPadding: $column_margin;
$codeHeaderHeight: $column_margin * 2;



[class*="lang-"] {
    font-family: monospace;
    position: relative;
    border-radius: 4px;
    margin-bottom: 2.5rem;
    overflow: hidden;

    // border: 1px solid $base07; // for use with light code theme
    // box-shadow: 0px 0px $column_margin 0px rgba(0,0,0,0.3); // for use with light code theme

    &:before {
        display: block;
        content: 'example';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-bottom: 0;
        box-sizing: border-box;
        padding: 0 $codeBlockPadding;
        line-height: $codeHeaderHeight;
        background: $base01;
        color: $base07; // color of code language title blocks
    }

    &[class*="-js"]:before {
        background: darken($base0A, 15%);
        content: 'JavaScript';
    }

    &[class*="-jquery"]:before {
        background: darken($base09, 5%);
        content: 'jQuery';
    }

    &[class*="-html"]:before {
        background: darken($base0D, 10%);
        content: 'HTML';
    }

    &[class*="-scss"]:before {
        background: darken($base0C, 10%);
        content: 'SCSS';
    }

    &[class*="-php"]:before {
        background: darken($base0E, 10%);
        content: 'PHP';
    }

    &[class*="-ruby"]:before {
        background: darken($base08, 5%);
        content: 'Ruby';
    }

    &[class*="-css"]:before {
        background: darken($base0B, 10%);
        content: 'CSS';
    }
}

.highlight  { 
    border: none;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    background: $base00; 
    color: $base05;

    code {
        position: relative;
        background: none;
        padding: ($codeHeaderHeight + $codeBlockPadding) $codeBlockPadding $codeBlockPadding;
        white-space: pre;
        -webkit-overflow-scrolling: touch;
        display: block;
        overflow: auto;
        color: $base06;

        .line-numbers & {
            padding: $codeHeaderHeight 0 0;
        }

        &::-webkit-scrollbar {
            width: .5em;
            height: .5em;
        }

        &::-webkit-scrollbar-thumb {
            background: $base04;
        }

        &::-webkit-scrollbar-track {
            background: none;
        }
    }

    table {
        margin: 0;
    }

    td,
    th {
        border: none;
    }

    pre.lineno {
        color: $base02;
        border: none;
    }

    .lineno {
        // @include unselectable();
        user-select: none;
        color: $base03;
    }

    .gutter {
        border-right: 1px dotted darken($base02, 5%);
        padding: $codeBlockPadding;
    }

    .code {
        padding: $codeBlockPadding;
    }

    pre {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;

        pre {
            border: none;
            margin-bottom: 0px;
        }
    }

    // Colors
    .c   { color: $base03 } // Comment 
    .cm  { color: $base03 } // Comment.Multiline 
    .c1  { color: $base03 } // Comment.Single 
    .cs  { color: $base0E } // Comment.Special 
    .cp  { color: $base0F } // Comment.Preproc 
    .n   { color: $base05 } // Name 
    .na  { color: $base09 } // Name.Attribute 
    .nb  { color: $base05 } // Name.Builtin 
    .nc  { color: $base09 } // Name.Class 
    .no  { color: $base08 } // Name.Constant 
    .nd  { color: $base0C } // Name.Decorator 
    .ni  { color: $base08 } // Name.Entity 
    .ne  { color: $base08 } // Name.Exception 
    .nf  { color: $base09 } // Name.Function 
    .nl  { color: $base05 } // Name.Label 
    .nn  { color: $base05 } // Name.Namespace 
    .nx  { color: $base08 } // Name.Other 
    .py  { color: $base05 } // Name.Property 
    .nt  { color: $base08 } // Name.Tag 
    .nv  { color: $base08 } // Name.Variable 
    .bp  { color: $base09 } // Name.Builtin.Pseudo 
    .vc  { color: $base09 } // Name.Variable.Class 
    .vg  { color: $base09 } // Name.Variable.Global 
    .vi  { color: $base09 } // Name.Variable.Instance 
    .w   { color: $base05 } // Text.Whitespace 
    .k   { color: $base0E } // Keyword 
    .kc  { color: $base09 } // Keyword.Constant 
    .kd  { color: $base0E } // Keyword.Declaration 
    .kn  { color: $base0E } // Keyword.Namespace 
    .kp  { color: $base0E } // Keyword.Pseudo 
    .kr  { color: $base09 } // Keyword.Reserved 
    .kt  { color: $base08 } // Keyword.Type 
    .l   { color: $base05 } // Literal 
    .ld  { color: $base05 } // Literal.Date 
    .m   { color: $base09 } // Literal.Number 
    .s   { color: $base0B } // Literal.String 
    .mf  { color: $base0B } // Literal.Number.Float 
    .mh  { color: $base0C } // Literal.Number.Hex 
    .mi  { color: $base09 } // Literal.Number.Integer 
    .mo  { color: $base0B } // Literal.Number.Oct 
    .sb  { color: $base03 } // Literal.String.Backtick 
    .sc  { color: $base0B } // Literal.String.Char 
    .sd  { color: $base05 } // Literal.String.Doc 
    .s2  { color: $base0B } // Literal.String.Double 
    .se  { color: $base08 } // Literal.String.Escape 
    .sh  { color: $base05 } // Literal.String.Heredoc 
    .si  { color: $base0B } // Literal.String.Interpol 
    .sx  { color: $base0B } // Literal.String.Other 
    .sr  { color: $base08 } // Literal.String.Regex 
    .s1  { color: $base0B } // Literal.String.Single 
    .ss  { color: $base0B } // Literal.String.Symbol 
    .il  { color: $base0B } // Literal.Number.Integer.Long 
    .o   { color: $base0E } // Operator 
    .ow  { color: $base0E } // Operator.Word 
    .x   { color: $base08 } // Other 
    .p   { color: $base05 } // Punctuation 
    .err { color: $base05 } // Error 
    .g   { color: $base05 } // Generic 
    .gr  { color: $base08 } // Generic.Error 
    .gd  { color: $base0B } // Generic.Deleted 
    .gh  { color: $base08 } // Generic.Heading 
    .gi  { color: $base0E } // Generic.Inserted 
    .go  { color: $base05 } // Generic.Output 
    .gp  { color: $base05 } // Generic.Prompt 
    .gu  { color: $base08 } // Generic.Subheading 
    .gt  { color: $base05 } // Generic.Traceback 
    .ge  { color: $base05; font-style: italic } // Generic.Emph 
    .gs  { color: $base05; font-weight: bold } // Generic.Strong 
}


